<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="container" >
      <div id="archives">
          browse by <a title="The complete archive of {{ site.name }}'s Blog by category"
                          href="{{ site.url}}{{ site.baseurl }}/categoryview">category</a>
      </div>
  </div>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
